

<h1><font color="red"><h1 class="sss">Food Online</h1></font></h1>
<br>
<br>


<td><%= link_to 'New Item', new_item_path,{:class=>"btn btn-default" } %></td>





<td><%= link_to ' orders', orders_path,{:class=>"btn btn-default" } %></td>

<td><%= link_to 'Items', items_path,{:class=>"btn btn-default" } %></td>