// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*body
{
	
background-image: url('/assets/photo2.jpg');
bakground-repeat: no-repeat;
background-size: 1500px 700px;
  background-color: #fff;
  color:green;
 }*/